---
layout: page
---

<div class="home">
  <h1>All English posts:</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      {% unless post.categories contains 'romanian' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          {% for tag in post.tags %}
            <code class="post-meta">{{ tag }}</code>
          {% endfor %}

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          {{ post.content | strip_html | truncate:400 }}
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>
