---
layout: default
---

<div class="home" itemscope itemtype="http://schema.org/BlogPosts">
  <h2 class="inline">🔗 Last Links</h2>
  <p class="url">
    <a href="/links.html">view all links</a>
  </p>
  <ul class="post-list">
    {% for post in site.categories.link limit: 3 %}
      {% include list-article.html type="full" %}
    {% endfor %}
  </ul>

  <hr />

  <h2 class="inline">✉️ Last Articles</h2>
  <p class="url">
    <a href="/all.html">view all articles</a> / <a href="/romanian.html">🇷🇴 Romanian</a> / <a href="/english.html">🇬🇧 English</a>
  </p>
  <ul class="post-list">
    {% for post in site.categories.normal limit: 3 %}
      {% include list-article.html %}
    {% endfor %}
  </ul>

  <hr />

  <h2 class="inline">⭐ Last Best Articles</h2>
  <p class="url">
    <a href="/best.html">view all best articles</a>
  </p>

  <ul class="post-list">
    {% for post in site.categories.best limit: 3 %}
      {% include list-article.html %}
    {% endfor %}
  </ul>
</div>
