---
layout: default
---

<div class="home" itemscope itemtype="http://schema.org/BlogPosts">
  <h2 class="inline">Last Links</h2>
  <p class="url hide-on-mobile">
    <a href="/links">view all links</a>
  </p>
  <ul class="post-list">
    {% for post in site.categories.link limit: 3 %}
      {% include list-article.html type="full" %}
    {% endfor %}
  </ul>

  <h2 class="inline">Last Articles</h2>
  <p class="url hide-on-mobile">
    <a href="/all">view all articles</a> / <a href="/romanian">Romanian</a> / <a href="/english">English</a>
  </p>
  <ul class="post-list">
    {% for post in site.categories.normal limit: 3 %}
      {% include list-article.html %}
    {% endfor %}
  </ul>

  <h2 class="inline">Last Best Articles</h2>
  <p class="url hide-on-mobile">
    <a href="/best">view all best articles</a>
  </p>

  <ul class="post-list">
    {% for post in site.categories.best limit: 3 %}
      {% include list-article.html %}
    {% endfor %}
  </ul>
</div>
