---
layout: default
---

<div class="home" itemscope itemtype="http://schema.org/BlogPosts">
  <h2 class="inline">Last Articles</h2>
  <p class="url">
    <a href="/all">view all</a> / <a href="/romanian">Romanian</a> / <a href="/english">English</a>
  </p>
  <ul class="post-list">
    {% for post in site.posts | limit: 3 %}
      {% unless post.categories contains 'best' %}
        {% include list-article.html chars-max=300 %}
      {% endunless %}
    {% endfor %}
  </ul>
  <hr />
  <h2 class="inline">Last Best Articles</h2>
  <p class="url">
    <a href="/best">view all best articles</a>
  </p>

  <ul class="post-list">
    {% for post in site.categories.best | limit: 3 %}
      {% include list-article.html chars-max=300 %}
    {% endfor %}
  </ul>
</div>
