<header class="site-header">

  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
          <a class="page-link" href="/">Home</a>
          <a class="page-link" href="/about.html">About</a>
          <a class="page-link" href="/open-source/">Open Source</a>
          <a class="page-link" href="/tags.html">Tags</a>
      </div>
    </nav>
  </div>

  {% if page.url == "/" %}
  <div class="profile">
      <section class="wrapper">
          <div id="header">
              <img id="avatar" src="/assets/alex_palcuie.jpg" alt="{{ site.author }}">
              <h1>Alex Palcuie</h1>
          </div>
      </section>
  </div>
  {% endif %}
</header>
