<header class="site-header">

  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
          <a class="page-link" href="/">🏠 Home</a>
          <a class="page-link" href="/about">🤓 About</a>
          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.url }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
      </div>
    </nav>
  </div>

  {% if page.url == "/" %}
  <div class="profile">
      <section class="wrapper">
          <div id="header">
              <img id="avatar" src="/assets/alex_palcuie.png" alt="{{ site.author }}">
              <h1>Alex Palcuie</h1>
          </div>
      </section>
  </div>
  {% endif %}
</header>
