<li>
  {% assign foundImage = 0 %}
  {% assign images = post.content | split:"<img " %}
  {% for image in images %}
    {% if image contains 'src' %}
        {% if foundImage == 0 %}
            {% assign html = image | split:"/>" | first %}
            {% assign tags = html | split:" " %}
            {% for tag in tags %}
              {% if tag contains 'src' %}
                <img {{ tag }} />
              {% endif %}
            {% endfor %}
            {% assign foundImage = 1 %}
        {% endif %}
    {% endif %}
  {% endfor %}

  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
  {% for tag in post.tags %}
    <code class="post-meta"><a href="/tags#{{ tag }}-ref">{{ tag }}</a></code>
  {% endfor %}

  <h2>
  {% if post.custom_link %}
    <a class="post-link" href="{{ post.custom_link }}">{{ post.title }}</a>
  {% else %}
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  {% endif %}
  </h2>

  {{ post.content | markdownify | strip_html | truncate: include.chars-max }}
</li>
