<li itemprop="BlogPosting" itemscope itemtype="http://schema.org/BlogPosting" class="list-article">
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta content="{{ site.author }}" itemprop="name" />
    <meta content="{{ site.my_face | prepend: site.url }}" itemprop="image" />
  </div>

  <span class="post-meta" itemprop="datePublished">{{ post.date | date: "%A, %-d %B %Y" }}</span>

  {% if post.custom_url %}
    {% assign url = post.custom_url %}
  {% else %}
    {% assign url = post.url %}
  {% endif %}

  <h3>
    <span itemprop="headline">
      <a itemprop="name" class="post-link" href="{{ url }}">{{ post.title }}</a> {% if post.custom_url %}<a href="{{ post.url }}">★</a>{% endif %}
    </span>
  </h3>


  {% if include.type != "full" %}
    {% assign content = post.excerpt | strip_html | truncate: 300 %}
  {% else %}
    {% assign content = post.content %}
  {% endif %}

  <span itemprop="description">
    {{ content }}
    {% if include.type != "full" %}
      <a href="{{ url }}">»</a>
    {% endif %}
  </span>
</li>
